# Node
node_modules/
dist/
tmp/
out-tsc/

# Angular
.angular/

# IDE
.vscode/
.idea/
.history/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Project specific
frontend/node_modules/
backend/node_modules/
frontend/dist/
frontend/.angular/
